


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_cron" WITH SCHEMA "pg_catalog";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."app_role" AS ENUM (
    'super_admin',
    'admin',
    'cashier'
);


ALTER TYPE "public"."app_role" OWNER TO "postgres";


CREATE TYPE "public"."delivery_method" AS ENUM (
    'pickup',
    'delivery'
);


ALTER TYPE "public"."delivery_method" OWNER TO "postgres";


CREATE TYPE "public"."order_status" AS ENUM (
    'pending_payment',
    'paid',
    'processing',
    'out_for_delivery',
    'ready_for_pickup',
    'completed',
    'cancelled'
);


ALTER TYPE "public"."order_status" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cancel_and_restock_order"("p_mpesa_checkout_id" character varying) RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_order_id UUID;
  v_current_status order_status;
  v_item RECORD;
BEGIN
  -- 1. THE LOCK: Find the order and lock it so no other webhook/process can touch it simultaneously
  SELECT id, status INTO v_order_id, v_current_status
  FROM orders
  WHERE mpesa_checkout_id = p_mpesa_checkout_id
  FOR UPDATE;

  -- Exit safely if the order somehow doesn't exist
  IF v_order_id IS NULL THEN
    RETURN FALSE;
  END IF;

  -- 2. THE IDEMPOTENCY CHECK (Crucial for preventing Double-Restocks)
  -- If Safaricom accidentally sends 3 failure webhooks, the first one changes status to 'cancelled'.
  -- The 2nd and 3rd will hit this IF statement and safely abort, protecting your inventory.
  IF v_current_status != 'pending_payment' THEN
    RETURN FALSE;
  END IF;

  -- 3. Mark the order as cancelled
  UPDATE orders
  SET status = 'cancelled', updated_at = NOW()
  WHERE id = v_order_id;

  -- 4. Loop through the exact snapshot of what the user tried to buy, and put it back on the shelf
  FOR v_item IN SELECT variant_id, quantity FROM order_items WHERE order_id = v_order_id
  LOOP
    UPDATE product_variants
    SET stock_quantity = stock_quantity + v_item.quantity
    WHERE id = v_item.variant_id;
  END LOOP;

  -- Success! Inventory is free for the next customer.
  RETURN TRUE;
END;
$$;


ALTER FUNCTION "public"."cancel_and_restock_order"("p_mpesa_checkout_id" character varying) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_order_ref"() RETURNS character varying
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  chars TEXT := 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789'; 
  result TEXT := 'KIL-';
BEGIN
  FOR i IN 1..6 LOOP
    result := result || substr(chars, floor(random() * length(chars) + 1)::integer, 1);
  END LOOP;
  RETURN result;
END;
$$;


ALTER FUNCTION "public"."generate_order_ref"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_product_ref"() RETURNS character varying
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  chars TEXT := 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789'; -- No I, O, 1, or 0 (Receipt safe)
  result TEXT := 'PRD-';
  i INTEGER;
  is_unique BOOLEAN := false;
BEGIN
  WHILE NOT is_unique LOOP
    result := 'PRD-';
    FOR i IN 1..6 LOOP
      result := result || substr(chars, floor(random() * length(chars) + 1)::integer, 1);
    END LOOP;
    
    IF NOT EXISTS (SELECT 1 FROM products WHERE ref_id = result) THEN
      is_unique := true;
    END IF;
  END LOOP;
  RETURN result;
END;
$$;


ALTER FUNCTION "public"."generate_product_ref"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = timezone('utc'::text, now());
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.staff_profiles
    WHERE id = auth.uid() AND role IN ('super_admin', 'admin')
  );
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."process_checkout"("p_customer_name" "text", "p_customer_email" "text", "p_customer_phone" "text", "p_delivery_type" "public"."delivery_method", "p_shipping_address" "jsonb", "p_latitude" numeric, "p_longitude" numeric, "p_delivery_fee" numeric, "p_cart_items" "jsonb", "p_delivery_notes" "text" DEFAULT NULL::"text") RETURNS character varying
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$ 
DECLARE
  v_order_id UUID;
  v_order_ref VARCHAR(12);
  v_subtotal NUMERIC := 0;
  v_item RECORD;
  v_variant RECORD;
  v_item_total NUMERIC;
  v_active_price NUMERIC;
BEGIN
  
  -- RACE CONDITION PROOF LOOP: Will continuously try to insert until a truly unique ID is secured
  LOOP
    v_order_ref := generate_order_ref();
    BEGIN
      INSERT INTO orders (
        order_ref, customer_name, customer_email, customer_phone, 
        delivery_type, shipping_address, latitude, longitude, 
        delivery_fee, subtotal, total_amount, status, delivery_notes
      ) VALUES (
        v_order_ref, p_customer_name, p_customer_email, p_customer_phone,
        p_delivery_type, p_shipping_address, p_latitude, p_longitude,
        p_delivery_fee, 0, p_delivery_fee, 'pending_payment', p_delivery_notes
      ) RETURNING id INTO v_order_id;
      
      EXIT; -- If insert succeeds, break the loop
    EXCEPTION WHEN unique_violation THEN
      -- If collision happens, do nothing. Loop repeats and generates a new ID.
    END;
  END LOOP;

  -- ROW LOCKING FOR INVENTORY
  FOR v_item IN SELECT * FROM jsonb_to_recordset(p_cart_items) AS x(variant_id UUID, quantity INT)
  LOOP
    -- Pull both the base price and the discount price
    SELECT stock_quantity, price_kes, discount_price_kes INTO v_variant 
    FROM product_variants WHERE id = v_item.variant_id FOR UPDATE;

    IF v_variant IS NULL THEN RAISE EXCEPTION 'Variant % not found.', v_item.variant_id; END IF;
    IF v_variant.stock_quantity < v_item.quantity THEN RAISE EXCEPTION 'Insufficient stock.'; END IF;

    UPDATE product_variants SET stock_quantity = stock_quantity - v_item.quantity WHERE id = v_item.variant_id;

    -- Apply the discount price if it exists, otherwise fall back to base price
    v_active_price := COALESCE(v_variant.discount_price_kes, v_variant.price_kes);

    v_item_total := v_active_price * v_item.quantity;
    v_subtotal := v_subtotal + v_item_total;

    INSERT INTO order_items (order_id, variant_id, quantity, unit_price, subtotal)
    VALUES (v_order_id, v_item.variant_id, v_item.quantity, v_active_price, v_item_total);
  END LOOP;

  -- Finalize the order's financial totals
  UPDATE orders SET subtotal = v_subtotal, total_amount = v_subtotal + p_delivery_fee WHERE id = v_order_id;

  RETURN v_order_ref;
END;
$$;


ALTER FUNCTION "public"."process_checkout"("p_customer_name" "text", "p_customer_email" "text", "p_customer_phone" "text", "p_delivery_type" "public"."delivery_method", "p_shipping_address" "jsonb", "p_latitude" numeric, "p_longitude" numeric, "p_delivery_fee" numeric, "p_cart_items" "jsonb", "p_delivery_notes" "text") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."categories" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."categories" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."collections" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."collections" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."order_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "order_id" "uuid",
    "variant_id" "uuid",
    "quantity" integer NOT NULL,
    "unit_price" numeric(10,2) NOT NULL,
    "subtotal" numeric(10,2) NOT NULL,
    CONSTRAINT "order_items_check" CHECK (("subtotal" = (("quantity")::numeric * "unit_price"))),
    CONSTRAINT "order_items_quantity_check" CHECK (("quantity" > 0)),
    CONSTRAINT "order_items_unit_price_check" CHECK (("unit_price" >= (0)::numeric))
);


ALTER TABLE "public"."order_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."orders" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "customer_name" "text" NOT NULL,
    "customer_email" "text" NOT NULL,
    "customer_phone" "text" NOT NULL,
    "delivery_type" "public"."delivery_method" NOT NULL,
    "shipping_address" "jsonb",
    "latitude" numeric(10,8),
    "longitude" numeric(11,8),
    "subtotal" numeric(10,2) NOT NULL,
    "delivery_fee" numeric(10,2) DEFAULT 0 NOT NULL,
    "total_amount" numeric(10,2) NOT NULL,
    "status" "public"."order_status" DEFAULT 'pending_payment'::"public"."order_status" NOT NULL,
    "mpesa_receipt" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "order_ref" character varying(12),
    "mpesa_checkout_id" character varying(100),
    "delivery_notes" "text",
    CONSTRAINT "orders_check" CHECK (("total_amount" = ("subtotal" + "delivery_fee"))),
    CONSTRAINT "orders_delivery_fee_check" CHECK (("delivery_fee" >= (0)::numeric)),
    CONSTRAINT "orders_subtotal_check" CHECK (("subtotal" >= (0)::numeric))
);


ALTER TABLE "public"."orders" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."product_images" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "product_id" "uuid" NOT NULL,
    "url" "text" NOT NULL,
    "display_order" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."product_images" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."product_variants" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "product_id" "uuid" NOT NULL,
    "sku" "text" NOT NULL,
    "price_kes" numeric(10,2) NOT NULL,
    "cost_price_kes" numeric(10,2) NOT NULL,
    "stock_quantity" integer DEFAULT 0 NOT NULL,
    "variant_attributes" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "is_active" boolean DEFAULT true,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "discount_price_kes" numeric(10,2) DEFAULT NULL::numeric,
    CONSTRAINT "variant_attributes_is_object" CHECK (("jsonb_typeof"("variant_attributes") = 'object'::"text"))
);


ALTER TABLE "public"."product_variants" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."products" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "category_id" "uuid",
    "collection_id" "uuid",
    "base_attributes" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "product_type" "text" DEFAULT 'wig'::"text" NOT NULL,
    "description" "text",
    "ref_id" character varying(15) DEFAULT "public"."generate_product_ref"() NOT NULL
);


ALTER TABLE "public"."products" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."staff_profiles" (
    "id" "uuid" NOT NULL,
    "full_name" "text" NOT NULL,
    "role" "public"."app_role" DEFAULT 'cashier'::"public"."app_role" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."staff_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_roles" (
    "user_id" "uuid" NOT NULL,
    "role" "public"."app_role" DEFAULT 'cashier'::"public"."app_role" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."user_roles" OWNER TO "postgres";


ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."collections"
    ADD CONSTRAINT "collections_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."collections"
    ADD CONSTRAINT "collections_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_pkey" PRIMARY KEY ("id");



ALTER TABLE "public"."orders"
    ADD CONSTRAINT "orders_delivery_coords_check" CHECK ((("delivery_type" = 'pickup'::"public"."delivery_method") OR (("delivery_type" = 'delivery'::"public"."delivery_method") AND ("latitude" IS NOT NULL) AND ("longitude" IS NOT NULL)))) NOT VALID;



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_mpesa_checkout_id_key" UNIQUE ("mpesa_checkout_id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_mpesa_receipt_key" UNIQUE ("mpesa_receipt");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_order_ref_key" UNIQUE ("order_ref");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."product_images"
    ADD CONSTRAINT "product_images_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."product_variants"
    ADD CONSTRAINT "product_variants_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."product_variants"
    ADD CONSTRAINT "product_variants_sku_key" UNIQUE ("sku");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_ref_id_key" UNIQUE ("ref_id");



ALTER TABLE ONLY "public"."staff_profiles"
    ADD CONSTRAINT "staff_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_pkey" PRIMARY KEY ("user_id");



CREATE INDEX "idx_order_items_order_id" ON "public"."order_items" USING "btree" ("order_id");



CREATE INDEX "idx_order_items_variant_id" ON "public"."order_items" USING "btree" ("variant_id");



CREATE INDEX "idx_orders_customer_email" ON "public"."orders" USING "btree" ("customer_email");



CREATE INDEX "idx_orders_mpesa" ON "public"."orders" USING "btree" ("mpesa_receipt");



CREATE INDEX "idx_orders_mpesa_checkout" ON "public"."orders" USING "btree" ("mpesa_checkout_id");



CREATE INDEX "idx_orders_ref" ON "public"."orders" USING "btree" ("order_ref");



CREATE INDEX "idx_orders_status" ON "public"."orders" USING "btree" ("status");



CREATE INDEX "idx_product_images_product_id" ON "public"."product_images" USING "btree" ("product_id");



CREATE INDEX "idx_product_variants_attributes" ON "public"."product_variants" USING "gin" ("variant_attributes");



CREATE INDEX "idx_product_variants_product_id" ON "public"."product_variants" USING "btree" ("product_id");



CREATE INDEX "idx_products_category_id" ON "public"."products" USING "btree" ("category_id");



CREATE INDEX "idx_products_collection_id" ON "public"."products" USING "btree" ("collection_id");



CREATE INDEX "idx_products_ref_id" ON "public"."products" USING "btree" ("ref_id");



CREATE OR REPLACE TRIGGER "set_product_variants_updated_at" BEFORE UPDATE ON "public"."product_variants" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



CREATE OR REPLACE TRIGGER "set_products_updated_at" BEFORE UPDATE ON "public"."products" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



CREATE OR REPLACE TRIGGER "set_user_roles_updated_at" BEFORE UPDATE ON "public"."user_roles" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."order_items"
    ADD CONSTRAINT "order_items_variant_id_fkey" FOREIGN KEY ("variant_id") REFERENCES "public"."product_variants"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."product_images"
    ADD CONSTRAINT "product_images_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."products"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."product_variants"
    ADD CONSTRAINT "product_variants_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."products"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."categories"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_collection_id_fkey" FOREIGN KEY ("collection_id") REFERENCES "public"."collections"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."staff_profiles"
    ADD CONSTRAINT "staff_profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Clients can view their own order items" ON "public"."order_items" FOR SELECT USING (("order_id" IN ( SELECT "orders"."id"
   FROM "public"."orders"
  WHERE ("orders"."customer_email" = (("current_setting"('request.jwt.claims'::"text", true))::json ->> 'email'::"text")))));



CREATE POLICY "Clients can view their own orders" ON "public"."orders" FOR SELECT USING ((("customer_email" = (("current_setting"('request.jwt.claims'::"text", true))::json ->> 'email'::"text")) OR ("customer_phone" = (("current_setting"('request.jwt.claims'::"text", true))::json ->> 'phone'::"text"))));



CREATE POLICY "Management can modify categories" ON "public"."categories" USING ("public"."is_admin"());



CREATE POLICY "Management can modify collections" ON "public"."collections" USING ("public"."is_admin"());



CREATE POLICY "Management can modify images" ON "public"."product_images" USING ("public"."is_admin"());



CREATE POLICY "Management can modify products" ON "public"."products" USING ("public"."is_admin"());



CREATE POLICY "Management can modify variants" ON "public"."product_variants" USING ("public"."is_admin"());



CREATE POLICY "Public can view categories" ON "public"."categories" FOR SELECT USING (true);



CREATE POLICY "Public can view collections" ON "public"."collections" FOR SELECT USING (true);



CREATE POLICY "Public can view images" ON "public"."product_images" FOR SELECT USING (true);



CREATE POLICY "Public can view products" ON "public"."products" FOR SELECT USING (true);



CREATE POLICY "Public can view variants" ON "public"."product_variants" FOR SELECT USING (true);



CREATE POLICY "Super Admins can manage all roles" ON "public"."user_roles" USING ((( SELECT "user_roles_1"."role"
   FROM "public"."user_roles" "user_roles_1"
  WHERE ("user_roles_1"."user_id" = "auth"."uid"())) = 'super_admin'::"public"."app_role"));



CREATE POLICY "Users can read own role" ON "public"."user_roles" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own profile" ON "public"."staff_profiles" FOR SELECT USING (("auth"."uid"() = "id"));



ALTER TABLE "public"."categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."collections" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."order_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."orders" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."product_images" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."product_variants" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."products" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."staff_profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_roles" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";









GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";











































































































































































GRANT ALL ON FUNCTION "public"."cancel_and_restock_order"("p_mpesa_checkout_id" character varying) TO "anon";
GRANT ALL ON FUNCTION "public"."cancel_and_restock_order"("p_mpesa_checkout_id" character varying) TO "authenticated";
GRANT ALL ON FUNCTION "public"."cancel_and_restock_order"("p_mpesa_checkout_id" character varying) TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_order_ref"() TO "anon";
GRANT ALL ON FUNCTION "public"."generate_order_ref"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_order_ref"() TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_product_ref"() TO "anon";
GRANT ALL ON FUNCTION "public"."generate_product_ref"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_product_ref"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."process_checkout"("p_customer_name" "text", "p_customer_email" "text", "p_customer_phone" "text", "p_delivery_type" "public"."delivery_method", "p_shipping_address" "jsonb", "p_latitude" numeric, "p_longitude" numeric, "p_delivery_fee" numeric, "p_cart_items" "jsonb", "p_delivery_notes" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."process_checkout"("p_customer_name" "text", "p_customer_email" "text", "p_customer_phone" "text", "p_delivery_type" "public"."delivery_method", "p_shipping_address" "jsonb", "p_latitude" numeric, "p_longitude" numeric, "p_delivery_fee" numeric, "p_cart_items" "jsonb", "p_delivery_notes" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."process_checkout"("p_customer_name" "text", "p_customer_email" "text", "p_customer_phone" "text", "p_delivery_type" "public"."delivery_method", "p_shipping_address" "jsonb", "p_latitude" numeric, "p_longitude" numeric, "p_delivery_fee" numeric, "p_cart_items" "jsonb", "p_delivery_notes" "text") TO "service_role";
























GRANT ALL ON TABLE "public"."categories" TO "anon";
GRANT ALL ON TABLE "public"."categories" TO "authenticated";
GRANT ALL ON TABLE "public"."categories" TO "service_role";



GRANT ALL ON TABLE "public"."collections" TO "anon";
GRANT ALL ON TABLE "public"."collections" TO "authenticated";
GRANT ALL ON TABLE "public"."collections" TO "service_role";



GRANT ALL ON TABLE "public"."order_items" TO "anon";
GRANT ALL ON TABLE "public"."order_items" TO "authenticated";
GRANT ALL ON TABLE "public"."order_items" TO "service_role";



GRANT ALL ON TABLE "public"."orders" TO "anon";
GRANT ALL ON TABLE "public"."orders" TO "authenticated";
GRANT ALL ON TABLE "public"."orders" TO "service_role";



GRANT ALL ON TABLE "public"."product_images" TO "anon";
GRANT ALL ON TABLE "public"."product_images" TO "authenticated";
GRANT ALL ON TABLE "public"."product_images" TO "service_role";



GRANT ALL ON TABLE "public"."product_variants" TO "authenticated";
GRANT ALL ON TABLE "public"."product_variants" TO "service_role";
GRANT SELECT ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("id") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("product_id") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("sku") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("price_kes") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("stock_quantity") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("variant_attributes") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("is_active") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("updated_at") ON TABLE "public"."product_variants" TO "anon";



GRANT SELECT("created_at") ON TABLE "public"."product_variants" TO "anon";



GRANT ALL ON TABLE "public"."products" TO "anon";
GRANT ALL ON TABLE "public"."products" TO "authenticated";
GRANT ALL ON TABLE "public"."products" TO "service_role";



GRANT ALL ON TABLE "public"."staff_profiles" TO "anon";
GRANT ALL ON TABLE "public"."staff_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."staff_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."user_roles" TO "anon";
GRANT ALL ON TABLE "public"."user_roles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_roles" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































